.wrap {
    max-width: 700px;
    min-width: 600px;
    width: 80%;
    margin: auto;
    background: yellow;
    overflow: hidden;
}

.content, aside {
    height: 600px;
}

.content {
    background: red;
    float:left;
    width: 80%;
}
aside {
    background: brown;
    float: left;
    width: 20%;
}

aside a {
    color: black;
    text-decoration: overline;
}

aside ul {
    list-style: none;
    padding-left: 0;
}


/*footer {
    clear: both;
}*/