body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    
}

header {
    background: blue;
    text-align: center;
    height: 15vh;
}

nav {
    background: gray;
    text-align: left;
    
    height: 5vh;
    
}
nav ul{
     padding: 0;
    margin: 0;
}
nav li {
    display: inline;
    padding-right: 10px;
}

nav ul a {
    text-decoration: none;
     color: black;
   
    
}

nav ul a:hover{
    text-decoration: underline;
    color: aqua;
    font-family: fantasy;
}



.wrap {
    display: flex;
    height: 70vh;
}

.content {
    background: red;
     width: 60%;
    flex:3;
}
.leftSide {
    background: brown;
    flex:1;
    width: 20%;
}

.rightSide {
    background: orange;
    flex:1;
    width: 20%;
}

aside a {
    color: black;
    text-decoration: none;
}

aside ul {
    list-style: none;
    padding-left: 0;
}



footer {
    background: green;
    text-align: center;
      padding: 0;
    margin: 0;
}
footer h2 {
    margin: 0;
}

@media (max-width:600px){
    .wrap{
        flex-direction: column;
    }
    
    .leftSide {
        width: 100%
    }
    
    .rightSide {
        width: 100%
    }
    
    .content {
        width: 100%
    }
}